<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>Music App</h1>

    <div>
    <% unless logged_in? %>
      <a href="<%= new_user_url %>" text>Register</a>
      <a href="<%= new_session_url %>">Log In</a>
    <% else %>
      <form action="<%= session_url%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Log out">
      </form>
    <% end %>
    </div>

  </header>

  <body>
    <%= yield %>
  </body>
</html>
